<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASProject</title>
    <link rel="stylesheet" href="/homestyle.css">
</head>
<body>
    <header>
        <h1>X Password manager</h1>
        
        <!-- Changed action to redirect to /password_manage -->
        <a href="/password_manage" class="my-manager-btn">My Manager</a>

         <!-- <form action="/home" method="post" onsubmit="return validateForm()"></form> -->
    </header>
    <nav>
        <a href="#home">Help</a>
        <a href="#tours">Details</a>
        <a href="#about">About Us</a>
        <a href="#contact">Contact</a>
    </nav>
    <section id="home">
        <h2>Welcome to our Secure password manager</h2>
        <p>Let us help you to keep a safe and secure storage for your important credentials</p>
    </section>
    <section id="tours">
        <h2>Key Benefits</h2>
        <ul>
            <li>User Authentication</li>
            <li>Proper Encryption</li>
            <li>Secure Storing</li>
        </ul>
    </section>
    <section id="about">
        <h2>About Us</h2>
        <p>The X password manager website small yet an effective company to be reliad on</p>
    </section>
    <section id="contact">
        <h2>Contact Us</h2>
        <p>Email: Xsecures@xyz.com</p>
        <p>Phone: 1234567890</p>
    </section>
    <footer>
        <p>&copy; X Password Secure Manager</p>
    </footer>
</body>
</html>
